html, body{
  font-family: 'Lato', sans-serif;
  font-size: 24px;
}

.body{
  background-image: url(./images/background.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100vw;
  height: 100vh;
  color: #ffffff;
  overflow: hidden;
}

.h{
  font-size: 0.58rem;
  font-style: normal;
  font-weight: bold;
  position: absolute;
  top: 17px;
  min-width: 100vw;
  height: 100px;
}

.lh{
  font-size: 0.75rem;
  display: inline-block;
  margin-left: 160px;
  position: absolute;
  top: 45%;
  padding-right: 10px;
  cursor: pointer;
}

h3{
  display: inline-block;
  text-transform: uppercase;
}

.nav{
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);

}

nav ul{
  display: flex;
}

li{
  margin-right: 15px;
}

a{
  color: #ffffff;
  text-transform: uppercase;
}

.cloud{
  margin-right: 10px;
}

.rh{
  display: inline-block;
  position: absolute;
  margin-left: 10px;
  top: 50%;
  cursor: pointer;
}

.us{
  position: relative;
  margin-left: 1000px;
  top: 40%;
}

.tt{
  margin-left: 5px;
}

.header-login{
  margin-left: 90px;
  background-color: transparent;
  background-image: none;
  color: #ffffff;
  width: 100px;
  padding-top: 13px;
  padding-bottom: 13px;
  border: 1px solid;
  border-radius: 6px;
  top: 38%;
  position: absolute;
  cursor: pointer;
}

.center{
  margin-top: 243px;
  text-align: center;
}

h1{
  font-size: 3rem;
  font-weight: bold;
  font-style: normal;
  letter-spacing: 0.05em;
  margin-bottom: 40px;
  text-transform: uppercase;
}

p{
  margin-bottom: 15px;
}

.sign-up{
  width: 160px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 6px;
  color: #ED4C5C;
  border: none;
  margin-top: 40px;
  cursor: pointer;
}
